.DS_Store
data/datasets/college.zip
data/raw/

.Rhistory
.Rapp
.Rapp.history

applet/.Rhistory
applet/.DS_Store

report/report.aux
report/report.log
report/report.out
report/report.tex

report/sections/05-results-concordance.tex
report/sections/05-results.log
report/sections/05-results.tex
